{{yield}}

<div class="content" style="display: flex">teste</div>
<div>
    <footer class="footer" style="flex-shrink: 0"> 
        <div class="dropdown is-up">
            <div class="dropdown-trigger">
                 <button class="button" aria-haspopup="true" aria-controls="dropdown-menu7">
                    <span><img class="fa fa-user"></span>
                    <span>Felipe</span> 
                    <span class="icon is-small">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu7" role="menu">
                <div class="dropdown-content">
                <ul class="dropdown-menu" class="active">
                    <li><a href="#"><i class="fa fa-user"></i> <span class="dropdown-item">My Profile</span></a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span class="dropdown-item">Settings</span></a></li>
                    <li><a href="#"><i class="fa fa-exit"></i> <span class="dropdown-item">Logout</span></a></li>
                </ul>       
                </div>
            </div>
        </div>
        <!--<ul class="dropdown-menu" class="active">
            <li><a href="#"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
            <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
            <li><a href="#"><i class="fa fa-exit"></i> <span>Logout</span></a></li>
        </ul>-->
    </footer>
</div>