
<div style="display: flex; align-items: center; position: absolute;bottom: 0; left: 0; right: 0; height:80px">
  
        <div style="flex: 1">
            <ul style="display:flex; justify-content:space-around">
                <li style="display:flex" >
                    <button style="display:flex; color:white; border:none">
                        <span class="avatar">
                            {{ember-initials
                                name = "Felipe Cerqueira Guth" 
                                email="feguth@gmail.com" 
                                size=200}}</span>
                        <p style="color:black; align-self: center;  font-size:small">ON LINE</p>
                    </button>
                </li>
                <li></li>
            </ul> </div>
        <div style="flex:2"></div>
        <div style="flex:1">
            <ul style="flex:1; display:flex;justify-content:space-around">
                <li>
                    <svg class="feather-icon" style="vertical-align:middle">
                    <use xlink:href="feather-sprite.svg#check" />
                    </svg>     
                    <span style="font-size:small; position:relative; vertical-align:middle">Saved</span>
                </li>
                <li><i style="font-size:small">W 42</i></li>
                <li><button style="display:flex; color:white; border:none"><a href="#" class="icon ion-ios-help-circle-outline" style="font-size: 3rem;margin: 0; color:#606060"></a></button>
                    </li>
            </ul>
        </div>
</div>

{{!-- <nav class="navbar">
    <div class="footer-side">
        <ul>
            <li>
                <a class="is-white">
                    <span class="avatar">{{ember-initials/gravatar name = "Fred Guth" email="fredguth@fredguth.com" size=200}}</span>
                </a>
                <span>&nbsp;&nbsp;ON LINE </span>
            </li>

        </ul>
    </div>
    <div class="centered">
        
    </div>
    <div class="footer-side">
        <ul>
            <li>
               
                <svg class="feather-icon">
                    <use xlink:href="feather-sprite.svg#check" />
                </svg>     
                <span class="icon-text">Saved</span>
                
            </li>
            <li>
                <span class="icon-text"> W 985</span>
            </li>
            <li>
                <a class="button is-white">
                    <svg class="feather-icon is-big">
                        <use xlink:href="feather-sprite.svg#help-circle" />
                    </svg>
                </a>
        
            </li>

        </ul>

    </div>
</nav> --}}