<nav class="navbar">
  <div class="side">
      <a class="button is-white">
        <i class="navbar-item icon ion-ios-code"></i></a>
      <a class="button is-white"><i class="navbar-item icon ion-ios-list"></i>Index</a>
  </div>
  <div style="flex: 2; display: flex; justify-content: center; background-color:yellow;">
    <p class="navbar-item doc-name flex-item"><i></i>Document name</p>
  </div>
  <div class="side">
    <ul style="display: flex; justify-content:space-around; list-style: none">
      <li><i class="nav-item icon ion-md-time" style="position:relative; left:16px"></i>Changes</li>
      <li><i class="nav-item icon ion-ios-share" style="position:relative; left:5px"></i>Share</li>
    </ul> 
  </div>    
</nav>


