<div class="panel-header">
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#file-text" />
  </svg>
  <h1>Document</h1>
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#x" />
  </svg>
</div>
<hr>


  
<label class="label has-text-grey">View:</label>

<ul>
  <li>
    <a class="button has-icon is-success select-pill-left">
      <svg class="feather-icon smaller">
        <use xlink:href="feather-sprite.svg#feather" />
      </svg>Write
    </a>
  </li>
  <li>
    <a class="button is-white select-pill-right">
      <svg class="feather-icon">
        <use xlink:href="feather-sprite.svg#file-text" />
      </svg>
      Preview
    </a>
  </li>
</ul>

<hr>
<label class="label has-text-grey">Template:</label>

<center><img src="change-template-thumbnail.png" alt="" style="width:200px;height:240px;border:3px solid rgb(186, 212, 236); margin-top:1rem"></center>

<div class="button-frame">
  <button class="button is-success is-fullwidth">Change Template</button>
</div>
<hr>
<label class="label has-text-grey">Export:</label>

<ul>
  <div style="flex:50%">
    <li>
      <input type="radio" name="export" value="pdf" checked>
      <label class="container">PDF</label>
    </li>
  </div>
  <div style="flex:50%">
    <li>
      <input type="radio" name="export" value="docx">
      <label class="container">DOCX</label>
    </li>
  </div>
</ul>

<div class="button-frame">
  <button class="button is-success  is-fullwidth">Export</button>
</div>






