{{yield}}
{{!<aside class="menu">}}

<div id="container" style="width: 25%;
    border: 2px solid #778899;
    padding: 2rem;
    margin: 5px;">
     <button style="position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;">
            X
        </button>  
  <p class="heading" style="font-size:medium">Document
  </p>
<div>
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </p>
</div>

  <p class="menu-label">
    View
    
    <ul class="menu-list">
    <li>
        <a>Write</a>
    </li> 
    <li><a>Preview</a></li>
  </ul>
  </p>
  <p class="menu-label">
    Mode
    <ul class="menu-list">
    <li><a>Night Owl</a></li>
    <li><a>Typewriter</a></li>
  </ul>
  </p>
  <p class="menu-label">
    Ambience
    <ul class="menu-list">
    <li><a>Cafe in Paris</a></li>
    <li><a>Rain</a></li>
  </ul>
  </p>
  <p class="menu-label">
    Statistics
    <ul class="menu-list">
    <li><a>Pages: 1</a></li>
    <li><a>Words: 42</a></li>
    <li><a>Sections:1</a></li>
  </ul>
  </p>
  <p class="menu-label">
    Export
    <ul class="menu-list">
    <li><a>.pdf</a></li>
    <li><a>.docx</a></li>
    <li><a>Latex</a></li>
    <li><a>HTML</a></li>
  </ul>
  </p>
</div>

{{!</aside>}}



