<nav class="level navbar">
    <div class="level-left" style="width:25%;background-color: pink">
      <p class="level-item">
        <a class="link is-info navbar-item"> 
          <span class="icon is-small"><i class="fa fa-home" aria-hidden="true"></i></span>
          <span>Home</span>
        </a>
      </p>
      <p class="level-item">
       <a class="link is-info navbar-item">
          <span class="icon is-small"><i class="fa fa-file" aria-hidden="true"></i></span>
          <span >Document</span>
        </a>
      </p>
      <p class="level-item">
        <a class="link is-info navbar-item">
          <span class="icon is-small"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
          <span>Index</span>
        </a>
      </p>
    </div>
    <div class="level-item"  style="background-color: yellow">
        <a class="link is-info">Document Name</a>
    </div>
    <div class="level-right"  style="width:25%;background-color: pink">
      <p class="level-item">
        <a class="link is-info navbar-item">
          <span class="icon is-small"><i class="fa fa-history" aria-hidden="true"></i></span>
          <span>Changes</span>
        </a>
      </p>
      <p class="level-item">
        <a class="link is-info navbar-item">
          <span class="icon is-small"><i class="fa fa-share" aria-hidden="true"></i></span>
          <span>Share</span>
        </a>
      </p>
    </div>
    

</nav>




{{!-- <nav class="navbar is-transparent level">
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="level-left">
      <div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/"> <!-- trocar por link para tela de navegação -->
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/documentation/overview/start/">
            Document
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="navbar-item">
        Nome do documento
    </a>
    <div class="navbar-end">
      <a class="navbar-item">
        Share
      </a>
      <a class="navbar-item">
        Changes
        </a>
      </div>
  </div>
</nav> --}}