<nav class="navbar">
  <div class="side">
      <ul>
        <li>
          <a class="button is-white">
            <i class="navbar-item icon ion-ios-home"></i>
          </a>
          <span class="icon-text">Home</span>
        </li>
        <li>
          <a class="button is-white">
            <i class="navbar-item icon ion-ios-barcode"></i>
          </a>
          <span class="icon-text">Document</span>
        </li>
        <li>
          <a class="button is-white">
            <i class="navbar-item icon ion-ios-list"></i>
          </a>
          <span class="icon-text">Index</span>
        </li>
      </ul>
    
      {{!-- <a class="button is-white"><i class="navbar-item icon ion-ios-list"></i>Index</a> --}}
  </div>
  <div style="flex: 2; display: flex; justify-content: center; background-color:yellow;">
    <p class="navbar-item doc-name flex-item"><i></i>Document name</p>
  </div>
  <div class="side">
    <ul>
      <li>
        <a class="button is-white">
          <i class="navbar-item icon ion-md-time"></i>
        </a>
        <span class="icon-text">Changes</span>
      </li>
      <li>
        <a class="button is-white">
          <i class="navbar-item icon ion-ios-share"></i>
        </a>
        <span class="icon-text">Share</span>
      </li>     
    </ul>
    
  </div>    
</nav>


