<div style="width:100%; height:9rem; background:linear-gradient(to bottom, #fcd361 0%, rgb(238, 185, 38) 100%); display:flex">
    
    <p style="margin:0 0 0.4rem 28%; font-size:2rem; color:whitesmoke; align-self:flex-end">Marketing</p>
    <div style="margin: 1rem 1rem auto auto">
        <a class="button is-primary" style="margin-right:1rem; background-color:tomato">Import</a>
        <a class="button is-danger" style="margin-right:1rem; background-color:tomato">New Document</a>
    </div>
</div>
<div style="displey:flex">
    <div style></div>

</div>

