<nav class="navbar">
  <div class="side">
      <ul>
        {{!-- <li>
          <a class="button is-white">
            <i class="navbar-item icon ion-ios-home"></i>
          </a>
          <span class="icon-text">Home</span>
        </li> --}}
        <li>
          <a class="button is-white">
            {{!-- <i class="navbar-item icon ion-ios-barcode"></i> --}}
            <svg class="feather-icon">
              <use xlink:href="feather-sprite.svg#file-text" />
            </svg>
          </a>
          <span class="icon-text">Document</span>
        </li>
        <li>
          <a class="button is-white">
            <svg class="feather-icon">
              <use xlink:href="feather-sprite.svg#list" />
            </svg>
          </a>
          <span class="icon-text">Index</span>
        </li>
      </ul>
  </div>
  <div class = "centered">
    <ul>
      {{!-- <li class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span>Document name</span>
        </a>
        
      </li> --}}
      <li>
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li>
              <a class="button is-white">
                {{!-- <i class="navbar-item icon ion-ios-home is-small"></i> --}}
                <svg class="feather-icon">
                  <use xlink:href="feather-sprite.svg#home" />
                </svg>
              </a>
            </li>
            <li>
              <a href="#">Marketing</a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">Contrato de Serviço</a>
            </li>
          </ul>
        </nav>
      </li>
      <li>
        <a class="button is-white is-small branch">
          <svg class="is-small feather-icon">
            <use xlink:href="feather-sprite.svg#git-branch" />
          </svg>
          <span class="icon-text"> master</span>
        </a>
      </li>
    </ul>
    
    
    
  </div>
  <div class="side">
    <ul>
      <li>
        <a class="button is-white">
          <svg class="feather-icon">
            <use xlink:href="feather-sprite.svg#copy" />
          </svg>
        </a>
        <span class="icon-text">Copy as</span>
      </li>
      <li>
        <a class="button is-white">
          <svg class="feather-icon">
            <use xlink:href="feather-sprite.svg#edit" />
          </svg>
        </a>
        <span class="icon-text">Edit</span>
      </li>
       
    </ul>
    
  </div>    
</nav>

