<div class="panel-header">
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#share" />
  </svg>
  <h1>share</h1>
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#x" />
  </svg>
</div>
<hr>



<label class="label has-text-grey">Sharing Status</label>

<div class="tags">
  <span class="tag is-success">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#user" />
    </svg> Fred
    <button class="delete is-small"></button>
  </span>
  <span class="tag is-danger">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#corporate" />
    </svg> Stoche Forbes
    <button class="delete is-small"></button>
  </span>
  <span class="tag is-success">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#users" />
    </svg> Jurídico
    <button class="delete is-small"></button>
  </span>
</div>



<label class="label has-text-grey">Template:</label>

<center>
  <img src="change-template-thumbnail.png" alt="" style="width:200px;height:240px;border:3px solid rgb(186, 212, 236); margin-top:1rem">
</center>

<button class="button is-primary is-fullwidth">Change Template</button>


<label class="label has-text-grey">Export:</label>

<ul>
  <div style="flex:50%">
    <li>
      <input type="radio" name="export" value="pdf" checked>
      <label class="container">PDF</label>
    </li>

    <li>
      <input type="radio" name="export" value="docx">
      <label class="container">DOCX</label>
    </li>
  </div>
  <div style="flex:50%">
    <li>
      <input type="radio" name="export" value="latex">
      <label class="container">LATEX</label>
    </li>
    <li>
      <input type="radio" name="export" value="html">
      <label class="container">HTML</label>
    </li>
  </div>
</ul>

<button class="button is-primary  is-fullwidth">Export</button>