<div class="panel-header">
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#share" />
  </svg>
  <h1>share</h1>
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#x" />
  </svg>
</div>
<hr>


<label class="label has-text-grey">Sharing Status</label>

<div class="tags">
  <span class="tag is-success">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#user" />
    </svg> Fred
    <button class="delete is-small"></button>
  </span>
  <span class="tag is-danger">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#corporate" />
    </svg> Stoche Forbes
    <button class="delete is-small"></button>
  </span>
  <span class="tag is-success">
    <svg class="feather-icon is-small">
      <use xlink:href="feather-sprite.svg#users" />
    </svg> Jurídico
    <button class="delete is-small"></button>
  </span>
</div>

<hr>

<label class="label has-text-grey">Share:</label>
<ul>
  <li>
    <label class="checkbox">
      <input type="checkbox"> Read Only
    </label>
  </li>
  <li>
    <label class="checkbox">
      <input type="checkbox"> Comment
    </label>
  </li>
  <li>
    <label class="checkbox">
      <input type="checkbox"> Edit
    </label>
  </li>
</ul>

<div class="field has-addons  button-frame">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Team member">
  </p>
  <p class="control">
    <a class="button is-primary">
      Share
    </a>
  </p>
</div>
<hr>
<label class="label has-text-grey">Share with link:</label>
<ul>
  <li>
    <label class="checkbox">
      <input type="checkbox"> Read Only
    </label>
  </li>
  <li>
    <label class="checkbox">
      <input type="checkbox"> Comment
    </label>
  </li>
  <li>
    <label class="checkbox">
      <input type="checkbox" checked> Edit
    </label>
  </li>
</ul>
<div class="field has-addons  button-frame">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="http://onefinaldoc.com/873y4tbi7s3yitb7wy34it">
  </p>
  <p class="control">
    <a class="button is-primary">
     Copy
    </a>
  </p>
</div>