
<div class="box" id="container" style="width: 25%; 
    padding: 2rem;
    margin: 5px;
    background-color:#FAFAFA;
    position:absolute;
    top:0;
    bottom:0;
    right:0"
    >
<button class="ion-ios-close-circle-outline" style="background-color:inherit; border:none; font-size:x-large; position: absolute;
    right: 0.5rem;top: 0.5rem;"></button>
  <div style="display:flex">  
  <svg class="feather-icon">
              <use xlink:href="feather-sprite.svg#share" />
            </svg>
            <p style="font-size:medium; margin-bottom:0.5rem">Share
  </p>
  
  </div>

  <p class="menu-label">
    Visibility
    
    <ul style="display:flex">
      <li>
        <a class="button is-white">
          <svg class="feather-icon">
            <use xlink:href="feather-sprite.svg#lock" />
          </svg>
        </a>
        <span class="icon-text">Private</span>
      </li>
      <li style="display:flex; flex-direction:column; justify-content:center">
        <a class="button is-white">
          <svg class="feather-icon">
            <use xlink:href="feather-sprite.svg#users" />
          </svg>
        </a>
        <span class="icon-text">Workspace</span>
      </li>
       <li>
        <a class="button is-white">
          <svg class="feather-icon">
            <use xlink:href="feather-sprite.svg#globe" />
          </svg>
        </a>
        <span class="icon-text">Public</span>
      </li>
    </ul>
  </p>

  <p class="menu-label">
    Access
    <ul class="menu-list" >
        <li>
            <label class="checkbox">
                <input type="checkbox">
                    Read Only
            </label></li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                    Comment
            </label></li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                    Edit
            </label></li>
     </ul>
    <div>
        <button class="button is-outlined is-fullwidth">Share</button>
    </div>
  </p>
  <hr class="dropdown-divider">
  <p class="menu-label">
    Share with Link
    <div>
    <p class="control">
      <input class="input is-small" type="text" placeholder="Link">
      
    </p>

</div>
    <div>
        <button class="button is-outlined is-fullwidth"> Share with Link</button>
    </div>
    </p>
    
    <hr class="dropdown-divider">
    <p class="menu-label">
    <ul class="menu-list">
        <li>Change requests (1)</li>
        <li>Colaborators: Felipe and Fred</li>
    </ul>
    </p>
</div>
    
    
    
    
    
    




