<div class="panel-header">
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#corner-up-left" />
  </svg>
  <h1>Submit</h1>
  <svg class="feather-icon">
    <use xlink:href="feather-sprite.svg#x" />
  </svg>
</div>
<hr>


<div>
  <center>
  <p>Your changes will be submited to the analysis nof the author</p>
  <div style="display:flex; justify-content:space-between; margin: 1rem 0.5rem">
    <a class="button is-danger" style="width:5rem">
      <span class="icon is-small">
        <i class="fa fa-times"></i>
      </span>
      <span>Cancel</span>
    </a>
    <a class="button is-success" style="width:5rem">
      <span class="icon is-small">
        <i class="fa fa-check"></i>
      </span>
      <span>OK</span>
    </a>
  </div>
  <span class="content is-small">This branch is up to date</span>
  </center>
</div>