@import "ember-bulma-css/utilities/_all"
@import "ember-bulma-css/base/_all"
@import "ember-bulma-css/elements/_all"
@import "ember-bulma-css/components/_all"
@import "ember-bulma-css/grid/_all"
@import "ember-bulma-css/layout/_all"
@import "https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css"


.icon
  font-size: 1.3rem
  padding: 0.75rem
  margin: 0 auto
.text-on-bottom
  flex-direction: column
