@import "ember-bulma-css/utilities/_all"
@import "ember-bulma-css/base/_all"
@import "ember-bulma-css/elements/_all"
@import "ember-bulma-css/components/_all"
@import "ember-bulma-css/grid/_all"
@import "ember-bulma-css/layout/_all"
@import "https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css"

*
  box-sizing: border-box



html, body, canvas, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0

body
  display: flex
  min-height: 100vh
  flex-direction: column
  
.text-on-bottom
  flex-direction: column
.side
  flex: 1
  > ul 
    display: flex
    list-style: none
    justify-content: space-around
    margin: 0 auto
    > li
      display:  flex
      flex-direction:  column
    .icon
      font-size: 1.6rem
      margin: 0 auto
    .icon-text
      z-index: 10
      margin: 0 auto
      margin-top: -0.25rem
      font-size: small 
.centered
  flex: 2
  display: flex
  justify-content: center 
  > ul 
    display: flex
    list-style: none
    flex-direction:  column
    justify-content: space-around
    margin: 0 auto
    > li
      display:  flex
     
      > a.branch
        margin-top: -.5rem
        font-color: LightGray
        
.avatar
  > img
    border-radius: 50%
    width: 2.5rem
    height: 2.5rem

.feather-icon
  width: 1.5rem
  height: 1.5rem
  stroke: Navy
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round
  fill: none

svg
  &.is-small
    width: .85rem
    height: .85rem
    margin-right: .5rem
  &.is-big
    width: 2.5rem
    height: 2.5rem
    stroke: DimGray

.footer-side
  margin: 2rem
  > ul 
      display: flex
      list-style: none
      justify-content: center
      > li
        display:  flex
        flex-direction:  row
        align-items: center
