$primary: #35456C
$link: #2e64dc
$success: #609267
$danger: #e56661
$warning: #ddb31a
$primary-invert: white
$warning-invert: white

@import "ember-bulma-css/utilities/_all"
@import "ember-bulma-css/base/_all"
@import "ember-bulma-css/elements/_all"
@import "ember-bulma-css/components/_all"
@import "ember-bulma-css/grid/_all"
@import "ember-bulma-css/layout/_all"
@import "https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css"


*
  box-sizing: border-box




html, body, canvas, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0

body
  display: flex
  min-height: 100vh
  flex-direction: column
  
.text-on-bottom
  flex-direction: column
.side
  flex: 1
  > ul 
    display: flex
    list-style: none
    justify-content: space-around
    margin: 0 auto
    > li
      display:  flex
      flex-direction:  column
    .icon
      font-size: 1.6rem
      margin: 0 auto
    .icon-text
      z-index: 10
      margin: 0 auto
      margin-top: -0.25rem
      font-size: small 
.centered
  flex: 2
  display: flex
  justify-content: center 
  > ul 
    display: flex
    list-style: none
    flex-direction:  column
    justify-content: space-around
    margin: 0 auto
    > li
      display:  flex
     
      > a.branch
        margin-top: -.5rem
        font-color: LightGray
        
.avatar
  > img
    border-radius: 50%
    width: 2.5rem
    height: 2.5rem
    margin: .5rem

.feather-icon
  width: 1.5rem
  height: 1.5rem
  stroke: $primary
  stroke-width: 2
  stroke-linecap: round
  stroke-linejoin: round
  fill: none

h1
  font-weight: 500

svg
  &.smaller
    width: 1.1rem
    height: 1.1rem 
  &.is-small
    width: .85rem
    height: .85rem
    margin-right: .5rem
  &.is-big
    width: 2.5rem
    height: 2.5rem
  

.footer-side
  margin: 2rem
  > ul 
      display: flex
      list-style: none
      justify-content: center
      > li
        display:  flex
        flex-direction:  row
        align-items: center

.panel 
  width: 25%
  background-color: #F7F5F1
  padding: 1.25rem
  margin: 5px
  position: absolute

  border-radius: 5px
  top: 0
  display: block
  overflow-y: scroll
  z-index: 10

  &:not(:last-child) 
    margin-bottom: .5rem
  hr
    margin-left: -1.25rem
    margin-right: -1.25rem
    margin-top: 1.15rem
    background-color: #dbdbdb
  ul
    display: flex
    justify-content: center

  label
    font-size: .85rem
    margin-top: 1rem

  .checkbox
    margin-left: 0.1rem
    margin-right: 1.2rem
  .tag
    i
      margin-right: .5rem
    .feather-icon
      stroke: white
  
  .button-frame
    margin-top: 1rem
    font-size: .85rem



  .panel-header
    display: flex
    justify-content: space-between
    align-items: center
    margin: -.85rem

    h1
      color: $primary
  
    svg
      background-color: inherit
      border: none 
      vertical-align: middle
      width: 1.15rem
      height: 1.15rem

.panel-left
  -webkit-box-shadow: 0 20px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  box-shadow: 0.3rem 0.3rem 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  left: 0
.panel-right
  -webkit-box-shadow: 0 20px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  box-shadow: 0.3rem 0.3rem 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  right: 0
 
.select-pill-left
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
.select-pill-right
  border-top-right-radius: 2rem
  border-bottom-right-radius: 2rem

.select-pill-left, .select-pill-right
  width: 6rem
  svg
    stroke: currentColor
    padding-right: 0.25rem 

.modal 
  display: none
  position: fixed 
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.modal-content 
  background-color: #fefefe
  margin: 5% 5% auto 26%
  padding: 20px
  border: 1px solid #888
  width: 72%
  height:fit-content
  border-radius: 5px

.close 
  color: #aaa
  font-size: 28px
  font-weight: bold
  float: right
  vertical-align: middle

.close:hover,
.close:focus 
  color: black
  text-decoration: none
  cursor: pointer

.modal-body 
  padding: 2px 16px
  display: flex
  flex-wrap: wrap
  overflow: auto

.modal-header 
  padding: 2px 15px
  color: rgb(34, 33, 33)
  display: flex
  justify-content: space-between
  margin-top: 0
  
.modal-thumbnails 
  width: 174px
  height: 228px
  border: 3px solid rgb(186, 212, 236)
  margin: 1rem 1.8rem

.template-name 
  width: 180px
  text-align:center 
  margin: -0.5rem 1.8rem 1rem
